*:focus {
	outline: 0;
}
body {
	background-color: white;
	font-family: Segoe UI;
	color: white;
}
#navbar {
	font-size: 14px;
	height: 40px;
	width: 100%;
	top: 0;
	left: 0;
	position: absolute;
	background-color: #3399FF;
	line-height: 40px;
	text-align: center;
	vertical-align: middle;
	word-spacing: 40px;
}
#body {
	color: gray;
	height: 700px;
	width: 900px;
	margin: 110px auto;
}
#footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	left: 0;
	position: absolute;
	background-color: #3399FF;
	line-height: 10px;
	text-align: center;
	vertical-align: middle;
}
.input {
	display: block;
	top: 150px;
	position: relative;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 500px;
	padding-left: 10px;
	color: gray;
	-webkit-transition: all 0.30s linear;
	-moz-transition: all 0.30s linear;
	-ms-transition: all 0.30s linear;
	-o-transition: all 0.30s linear;
}
.input:focus {
	background: rgba(0, 0, 0, 0.2);
	border: 1px solid rgba(255, 255, 255, 0.7);
}
.registerbtn {
	display: block;
	top: 170px;
	position: relative;
	cursor: pointer;
	margin: 0 auto;
	background: rgba(0, 0, 0, 0.1);
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 500px;
	padding-left: 10px;
	color: gray;
	-webkit-transition: all 0.30s linear;
	-moz-transition: all 0.30s linear;
	-ms-transition: all 0.30s linear;
	-o-transition: all 0.30s linear;
}
.votebtn {
	display: block;
	top: 150px;
	position: relative;
	margin: 0 auto;
	cursor: pointer;
	background: rgba(0, 0, 0, 0.1);
	height: 50px;
	border: 1px solid rgba(255, 255, 255, 0.5);
	width: 500px;
	padding-left: 10px;
	color: gray;
	-webkit-transition: all 0.30s linear;
	-moz-transition: all 0.30s linear;
	-ms-transition: all 0.30s linear;
	-o-transition: all 0.30s linear;
}
h1 {
	text-align: center;
}
a {
	color: white;
	text-decoration: none;
}
a:hover, a:focus {
	text-decoration: none;
	color: #fff;  
    text-shadow: -1px 1px 8px #ffc, 1px -1px 8px #fff;
}